[submodule "Chernykh_V_V/3_sem"]
	path = Chernykh_V_V/3_sem
	url = https://github.com/737CMD/Labs_Elec-Magn
[submodule "Chernykh_V_V/4_sem"]
	path = Chernykh_V_V/4_sem
	url = https://github.com/737CMD/Labs_Optics
