[submodule "Chernykh_V_V/3_sem"]
	path = Chernykh_V_V/3_sem
	url = git@github.com:737CMD/Labs_Elec-Magn.git
[submodule "Chernykh_V_V/4_sem"]
	path = Chernykh_V_V/4_sem
	url = git@github.com:737CMD/Labs_Optics.git
[submodule "Baranchugov_M_E"]
	path = Baranchugov_M_E
	url = git@github.com:BraveCactus/Laboratory_works.git
