[submodule "V.V.Chernykh/3_sem"]
	path = V.V.Chernykh/3_sem
	url = https://github.com/737CMD/Labs_Elec-Magn
[submodule "V.V.Chernykh/4_sem"]
	path = V.V.Chernykh/4_sem
	url = https://github.com/737CMD/Labs_Optics
